In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
! pip install afinn

Collecting afinn
  Downloading afinn-0.1.tar.gz (52 kB)
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py): started
  Building wheel for afinn (setup.py): finished with status 'done'
  Created wheel for afinn: filename=afinn-0.1-py3-none-any.whl size=53448 sha256=32ffc720c5b8b4c7d8c7e7e6f6d95b0cc1f170762a381b4b2f24c656257bf950
  Stored in directory: c:\users\bitcamp\appdata\local\pip\cache\wheels\9d\16\3a\9f0953027434eab5dadf3f33ab3298fa95afa8292fcf7aba75
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1

In [59]:
from afinn import Afinn
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer

In [4]:
# google drive

# aclime
# NPC.txt

In [6]:
import glob

In [208]:
pos_reviews = glob.glob('data_files/comments/pos/pos_1/*.txt')
neg_reviews = glob.glob('data_files/comments/neg/neg_1/*.txt')

In [209]:
f = open(pos_reviews[20], 'r')
pos_text = f.read()
print(text)

Whoever wrote the screenplay for this movie obviously never consulted any books about Lucille Ball, especially her autobiography. I've never seen so many mistakes in a biopic, ranging from her early years in Celoron and Jamestown to her later years with Desi. I could write a whole list of factual errors, but it would go on for pages. In all, I believe that Lucille Ball is one of those inimitable people who simply cannot be portrayed by anyone other than themselves. If I were Lucie Arnaz and Desi, Jr., I would be irate at how many mistakes were made in this film. The filmmakers tried hard, but the movie seems awfully sloppy to me.

In [210]:
f = open(neg_reviews[20], 'r')
neg_text = f.read()
print(text)

Whoever wrote the screenplay for this movie obviously never consulted any books about Lucille Ball, especially her autobiography. I've never seen so many mistakes in a biopic, ranging from her early years in Celoron and Jamestown to her later years with Desi. I could write a whole list of factual errors, but it would go on for pages. In all, I believe that Lucille Ball is one of those inimitable people who simply cannot be portrayed by anyone other than themselves. If I were Lucie Arnaz and Desi, Jr., I would be irate at how many mistakes were made in this film. The filmmakers tried hard, but the movie seems awfully sloppy to me.

In [211]:
afinn = Afinn()

In [212]:
afinn.score(pos_text)

14.0

In [213]:
afinn.score(neg_text)

-12.0

In [214]:
nrc = pd.read_csv('./data_files/NRC.txt',engine='python', header=None, sep='\t')

In [215]:
nrc

            0             1  2
0       aback         anger  0
1       aback  anticipation  0
2       aback       disgust  0
3       aback          fear  0
4       aback           joy  0
...       ...           ... ..
141815   zoom      negative  0
141816   zoom      positive  0
141817   zoom       sadness  0
141818   zoom      surprise  0
141819   zoom         trust  0

[141820 rows x 3 columns]

In [216]:
nrc.iloc[:, 1].value_counts()

anger           14182
anticipation    14182
disgust         14182
fear            14182
joy             14182
negative        14182
positive        14182
sadness         14182
surprise        14182
trust           14182
Name: 1, dtype: int64

In [217]:
nrc = nrc[(nrc != 0).all(1)]

In [218]:
nrc[nrc[0] == 'happy']

           0             1  2
57871  happy  anticipation  1
57874  happy           joy  1
57876  happy      positive  1
57879  happy         trust  1

In [219]:
nrc[nrc[0] == 'disaster']

              0         1  2
36260  disaster     anger  1
36262  disaster   disgust  1
36263  disaster      fear  1
36265  disaster  negative  1
36267  disaster   sadness  1
36268  disaster  surprise  1

In [220]:
nrc = nrc.reset_index(drop=True)
nrc

               0             1  2
0         abacus         trust  1
1        abandon          fear  1
2        abandon      negative  1
3        abandon       sadness  1
4      abandoned         anger  1
...          ...           ... ..
13896       zest  anticipation  1
13897       zest           joy  1
13898       zest      positive  1
13899       zest         trust  1
13900        zip      negative  1

[13901 rows x 3 columns]

In [221]:
lines1 = pos_text

In [222]:
stopwords = stopwords.words('english')

AttributeError: 'list' object has no attribute 'words'

In [223]:
tokenizer = RegexpTokenizer('[\w]+')

In [224]:
p_stemmer = PorterStemmer()

In [225]:
raw = lines1.lower()
tekens = tokenizer.tokenize(raw)
stoped_tokens = [i for i in tekens if not i in stopwords]

In [226]:
match_tokens = [x for x in stoped_tokens if x in list(nrc[0])]
match_tokens

['outstanding',
 'build',
 'tension',
 'focus',
 'black',
 'white',
 'attention',
 'superb',
 'focus',
 'talk',
 'agree',
 'heighten',
 'artistic']

In [227]:
emotion = []

for i in match_tokens:
    em_word = nrc[nrc[0] == i][1].values
    print(em_word)
    for j in em_word:
        emotion.append(j)
emotion

['joy' 'negative' 'positive']
['positive']
['anger']
['positive']
['negative' 'sadness']
['anticipation' 'joy' 'positive' 'trust']
['positive']
['positive']
['positive']
['positive']
['positive']
['fear' 'negative']
['positive']

['joy',
 'negative',
 'positive',
 'positive',
 'anger',
 'positive',
 'negative',
 'sadness',
 'anticipation',
 'joy',
 'positive',
 'trust',
 'positive',
 'positive',
 'positive',
 'positive',
 'positive',
 'fear',
 'negative',
 'positive']

In [72]:
sent_result = pd.Series(emotion).value_counts()
sent_result

positive        10
negative         3
joy              2
anger            1
sadness          1
anticipation     1
trust            1
fear             1
dtype: int64

In [228]:
def emotion_score(series):
    emot_score = 0
    
    for j in range(len(series)):
        if series.index[j] in ('positive', 'anticipation', 'trust', 'joy', 'surprise'):
            emot_score += series.iloc[j]
        else:
            emot_score -= series.iloc[j]
    return emot_score

In [229]:
emotion_score(sent_result)

8

In [88]:
# 한글 감성어 사전

In [89]:
# lexicon > polarity.csv

In [93]:
ko_dict = pd.read_csv('data_files/lexicon/polarity.csv')
ko_dict.head(10)

,ngram,freq,COMP,NEG,NEUT,None,POS,max.value,max.prop
0,가*/JKS,1,0.0,0.000000,0.000000,0.0,1.000000,POS,1.000000
1,가*/JKS;있/VV,1,0.0,0.000000,0.000000,0.0,1.000000,POS,1.000000
2,가*/JKS;있/VV;었/EP,1,0.0,0.000000,0.000000,0.0,1.000000,POS,1.000000
3,가*/VV,3,0.0,0.000000,0.000000,0.0,1.000000,POS,1.000000
4,가*/VV;ㄴ다*/EF,1,0.0,0.000000,0.000000,0.0,1.000000,POS,1.000000
5,가/JKC,17,0.0,0.470588,0.235294,0.0,0.294118,NEG,0.470588
6,가/JKC;되/VV,11,0.0,0.363636,0.272727,0.0,0.363636,NEG,0.363636
7,가/JKC;되/VV;ㄴ/ETM,2,0.0,0.000000,1.000000,0.0,0.000000,NEUT,1.000000
8,가/JKC;되/VV;ㄹ/ETM,1,0.0,0.000000,1.000000,0.0,0.000000,NEUT,1.000000
9,가/JKC;되/VV;어/EC,2,0.0,1.000000,0.000000,0.0,0.000000,NEG,1.000000

In [91]:
import csv

In [136]:
table = dict()

with open('data_files/lexicon/polarity.csv', 'r', -1, 'utf-8') as polarity:
    next(polarity)
    
    for line in csv.reader(polarity):
        key = str()
        for word in line[0].split(';'):
            key += word.split('/')[0]
        table[key] = {'neg': line[3], 'neut': line[4], 'pos': line[6]}

In [191]:
columns = ['neg', 'neut', 'pos']
df = pd.DataFrame(table.values(), columns=columns)

In [192]:
df.index = list(table.keys())

In [193]:
df

               neg neut          pos
가*               0    0            1
가*있              0    0            1
가*있었             0    0            1
가*ㄴ다*            0    0            1
가      0.333333333    0  0.555555556
...            ...  ...          ...
힘들ㄹ것             1    0            0
힘들ㄹ때             1    0            0
힘차               1    0            0
힘차ㄴ              1    0            0
힘차ㄴ붓             1    0            0

[15862 rows x 3 columns]